.vscode/
__pycache__/
*.pyc
*.DS_Store
*.swp
*.pth
tmp.*
*/.ipynb_checkpoints/*

LoFTR/logs/
LoFTR/weights/
LoFTR/dump/
LoFTR/demo/*.mp4
LoFTR/demo/demo_images/
LoFTR/src/loftr/utils/superglue.py
LoFTR/demo/utils.py

LoFTR/notebooks/QccDayNight.ipynb
LoFTR/notebooks/westlake.ipynb
LoFTR/assets/westlake
LoFTR/assets/qcc_pairs.txt
LoFTR/configs/.petrel*
LoFTR/tools/draw_QccDayNights.py

LoFTR/scripts/slurm/
LoFTR/scripts/sbatch_submit.sh
LoFTR/src/utils/client.py


DeepLabV3Plus-Pytorch/VOCdevkit
DeepLabV3Plus-Pytorch/checkpoints
*.pyc
.idea/
DeepLabV3Plus-Pytorch/results
DeepLabV3Plus-Pytorch/checkpoints_bak
DeepLabV3Plus-Pytorch/cityscapes
DeepLabV3Plus-Pytorch/test_results
