.vscode/
__pycache__/
*.pyc
*.DS_Store
*.swp
*.pth
tmp.*
*/.ipynb_checkpoints/*

LoFTR-swa/logs/
LoFTR-swa/weights/
LoFTR-swa/dump/
LoFTR-swa/demo/*.mp4
LoFTR-swa/demo/demo_images/
LoFTR-swa/src/loftr/utils/superglue.py
LoFTR-swa/demo/utils.py
LoFTR-swa/data
LoFTR-swa/dataa

LoFTR-swa/notebooks/QccDayNight.ipynb
LoFTR-swa/notebooks/westlake.ipynb
LoFTR-swa/assets/westlake
LoFTR-swa/assets/qcc_pairs.txt
LoFTR-swa/configs/.petrel*
LoFTR-swa/tools/draw_QccDayNights.py

LoFTR-swa/scripts/slurm/
LoFTR-swa/scripts/sbatch_submit.sh
LoFTR-swa/src/utils/client.py


DeepLabV3Plus-Pytorch-swa/VOCdevkit
DeepLabV3Plus-Pytorch-swa/checkpoints
*.pyc
.idea/
DeepLabV3Plus-Pytorch-swa/results
DeepLabV3Plus-Pytorch-swa/FullData
DeepLabV3Plus-Pytorch-swa/checkpoints_bak
DeepLabV3Plus-Pytorch-swa/cityscapes
DeepLabV3Plus-Pytorch-swa/test_results
